In [1]:
import pandas as pd

In [4]:
pd.read_parquet('dgs1.parquet').reset_index()

           date  yield
0    2000-01-03   6.09
1    2000-01-04   6.00
2    2000-01-05   6.05
3    2000-01-06   6.03
4    2000-01-07   6.00
...         ...    ...
6584 2025-03-28   4.04
6585 2025-03-31   4.03
6586 2025-04-01   4.01
6587 2025-04-02   4.04
6588 2025-04-03   3.92

[6589 rows x 2 columns]